div {
    display: inline-block;
    margin: 5px;
}

.-center{ 
    text-align: center; 
    display: block;
}

#i1, #i1r, #i2, #i3 {
    height: 30px;
    width: 30px;
    background-color: red;
}

#i1r {
    transform: rotate(45deg);
    background-color: blue;
}

#i2, .circle{
    background-color: green;
    border-radius: 30px;
}

#i3{
    background-color: cadetblue;
    border-radius: 30px 15px;
    transform: rotate(45deg);
}

#i4{
    border: solid 15px transparent;
    border-top-color: gray;
    border-bottom: none;
    
}

#i5 {
    border-top: solid 2px black;
    border-right: solid 1px black;
    border-radius: 1px 50px;
    width: 20px;
    height: 7px;
    transform: rotate(-30deg);
}

.msg, .msg2 {
    padding: 15px;
    border: solid 2px green;
    border-radius: 5px;
    background-color: greenyellow;
    min-width: 250px;
    text-align: justify;
    position: relative;
    z-index: 11;
}

.msg::before{
    border: solid 15px transparent;
    border-top-color: green;
    border-bottom: none;
    content: "";
    position: absolute;
    top: 100%;
}

.msg2::before{
    border: solid 15px transparent;
    border-right-color: green;
    border-left: none;
    content: "";
    position: absolute;
    left: -15px;
    top: calc(50% - 15px);
}

.msg2::after{
    content: "";
    position: absolute;
    height: 30px;
    width: 15px;
    background-color: green;
    border-radius: 0 30px 30px 0;
    right: -15px;
    top: calc(50% - 15px);
}

.circle {
    min-width: 30px;
    min-height: 30px;

    transition: all 2s;
}

.circle2 {
    min-width: 30px;
    min-height: 30px;

    background-color: red;

    animation-play-state: paused;
    animation-duration: 4s;
    animation-name: circle-dance;
    animation-iteration-count: infinite;
}


input:checked + .circle {
    transform: translateX(100px);
}

input:checked + .circle2 {
    animation-play-state: running;
}

.hide {
    display: none;
}

@keyframes circle-dance {
    0% {
        transform: none;
    }

    25% {
        transform: translateX(200px);
    }

    50% {
        transform: translateX(200px) translateY(200px);
    }

    75% {
        transform: translateY(200px);
    }

    100% {
        transform: none;
    }
}