
.theme-black{
    --color-base: black;
    --color-text: white;
    --color-border: #ddd;
}


*:not([type="button"]):not(button):not(.fa) {
    background-color: var(--color-base);
    border-color: var(--color-border);
}

header, nav, aside, footer {
    padding: 10px;
    background-color: var(--color-panel);
}

header { 
    /*background-color: rgb(188, 149, 255);*/
    /*background: linear-gradient( magenta 5%, rgb(188, 149, 255) 25%, rgb(188, 149, 255) 75% , darkmagenta 95%);*/
    box-shadow: var(--shadow-inset);
    margin-bottom: 10px;
    position: sticky;
    top: 0px;
    z-index: 9999;
}

footer { 
    /*background-color:rgb(255, 186, 186);*/
    height: 1000px;
}

#pretext {
    color: red;
}

u {
    position: relative;
    top: -10px;
    left: -50px;
}

.top b{
    background-color: lightblue;
}

#pretext ~ section {
    background-color: lightcyan;
}

section.top.first {
    font-size: 20px;
    position: sticky;
    top: 80px;
}

section.first {
    border: dashed 5px gray;
    min-height: 250px;
    background-image: url(/html/img/icon2.png), url(/html/img/background.png) ;
    background-repeat: no-repeat, repeat;
    background-position: right 150px, 5px;
    background-size: 100px, 40px 40px;
}

[colspan] {
    font-size: 40px;
}

[colspan="2"] {
    background-color: aqua ;
}

img.icon {
    max-height: 24px;
    vertical-align: middle;
}

img.pic {
    max-width: 100px;
    float: right;
    margin-left: 10px;
}

section {
    text-align: justify;
    padding: 10px;
    --color-base: transparent; 
}

@counter-style winners-list {
    system: fixed;
    symbols: Ⓐ Ⓑ Ⓒ Ⓓ Ⓔ Ⓕ Ⓖ Ⓗ Ⓘ Ⓙ Ⓚ Ⓛ Ⓜ Ⓝ Ⓞ Ⓟ Ⓠ Ⓡ Ⓢ Ⓣ Ⓤ Ⓥ Ⓦ Ⓧ Ⓨ Ⓩ;
    suffix: " ";
}


#figure {
    position:absolute; 
    top:400px; 
    background-color: white;
    transform: translateX(50px) rotate(45deg) scale(.5);
}

.click-top {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.click-top a {
    display: inline-block;
    padding: 5px;
    border: solid var(--color-border) 1px;
    border-radius: 10px;
    background-color: var(--color-panel);
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    width: 40px;
    height: 40px;
}

.click-top a:hover {
    box-shadow: var(--shadow);
}
