/* стили основного оформления ячеек таблицы */
.t-red {
    background-color: rgb(255, 180, 180);
    text-align: center;
}
.t-yellow {
    background-color: rgb(255, 255, 180);
    text-align: center;
}
.t-blue {
    background-color: rgb(180, 214, 255);
    text-align: center;
}

.hide {
    /*display: none;*/
    visibility: hidden;
}

#mendeleev {
    border-collapse: collapse;
    table-layout: fixed;
}

#mendeleev th, #mendeleev td {
    padding: 20px;
    border: solid 1px black;
    width: 30px;
    height: 30px;
    text-wrap: nowrap;
}

#mendeleev th {
    padding: 0 20px;
}

#mendeleev td.hide, #mendeleev td:empty, #mendeleev th:empty {
    border: none;
    padding: 10px;
    width: 0;
    height: 0;
}

.flex-table {
    border: solid 1px gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-evenly;

    height: 400px;
    margin-bottom: 20px;


    & > div {
        width: 150px;
        /*height: 100px;*/
        border: solid 1px black;
        border-radius: 10px;
    }
}

.grid-table{
    display: grid;
    width: 100%;
    height: 500px;
    margin-bottom: 1000px;
    grid-template-columns: repeat(auto-fit, 150px);
    grid-auto-rows: 150px;
    gap: 10px;
    justify-content: space-evenly;

    & > div {
        border: solid 1px black;
        border-radius: 10px;
    }
}